<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>image</key>
			<string>Cocktails.png</string>
			<key>url</key>
			<string>http://phobos.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=284419210&amp;mt=8</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Changes.png</string>
			<key>url</key>
			<string>http://changesapp.com/</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>image</key>
			<string>Trivial.png</string>
			<key>url</key>
			<string>http://phobos.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=287447849&amp;mt=8</string>
		</dict>
		<dict>
			<key>image</key>
			<string>TrivialSports.png</string>
			<key>url</key>
			<string>http://phobos.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=287450831&amp;mt=8</string>
		</dict>
		<dict>
			<key>image</key>
			<string>TrivialHistory.png</string>
			<key>url</key>
			<string>http://phobos.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=291427261&amp;mt=8</string>
		</dict>
		<dict>
			<key>image</key>
			<string>TrivialMovies.png</string>
			<key>url</key>
			<string>http://phobos.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=291542645&amp;mt=8</string>
		</dict>
		<dict>
			<key>image</key>
			<string>TrivialPop.png</string>
			<key>url</key>
			<string>http://phobos.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=287455461&amp;mt=8</string>
		</dict>
		<dict>
			<key>image</key>
			<string>TrivialScience.png</string>
			<key>url</key>
			<string>http://phobos.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=291208319&amp;mt=8</string>
		</dict>
		<dict>
			<key>image</key>
			<string>TrivialTech.png</string>
			<key>url</key>
			<string>http://phobos.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=291279121&amp;mt=8</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Totus.png</string>
			<key>url</key>
			<string>http://dragonforged.com/totuscopy.htm</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>image</key>
			<string>Advertisers.png</string>
			<key>url</key>
			<string>http://gethandshake.com/advertise</string>
		</dict>
		<dict>
			<key>image</key>
			<string>HandshakeAd1.png</string>
			<key>url</key>
			<string>http://gethandshake.com/premium_appstore</string>
		</dict>
		<dict>
			<key>image</key>
			<string>HandshakeAd2.png</string>
			<key>url</key>
			<string>http://gethandshake.com/premium_appstore</string>
		</dict>
		<dict>
			<key>image</key>
			<string>HandshakeAd2.png</string>
			<key>url</key>
			<string>http://gethandshake.com/premium_appstore</string>
		</dict>
	</array>
</array>
</plist>
